<%- include('header')%>
        <div class="card-body">
          <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
         
          <% if(msg !=''){ %>
            <p style="text-align:center;">
             </p>
              <%}%> 
              DASHBOARD
        </div>    
    </div>
    </div>
  </body>
</html> 

